<!DOCTYPE html>
<html>

<head>
    <title>
        MYNE
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>

<body>
    <header class="container-fluid header">
        <div class="row">
            <div class="col-9"></div>
            <div class="col-2">
                <h2 id="logo">MYNE.TECH</h2>
            </div>
        </div>

        <form id="top-nav">
            <div class="row">
                <div class="col-2">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Tops</option>
              <option>Bottoms</option>
              <option>Shoes</option>
              <option>Accessories</option>
              <option>Bags</option>
            </select>
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Winter</option>
              <option>Spring</option>
              <option>Summer</option>
              <option>Fall</option>
              <option>All</option>
            </select>
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Sort</option>
              <option>Newest to Oldest</option>
              <option>Oldest to Newest</option>
              <option>Most expensive to least expensive</option>
              <option>Least expensive to most expensive</option>
            </select>
                </div>
                <div class="col-2">
                    <select class="form-control form-control-sm" id="exampleFormControlSelect1">
              <option>Filter</option>
              <option>Clothes only</option>
              <option>Home items only</option>
              <option>Devices only</option>
              <option>All</option>
            </select>
                </div>
                <div class="col-1"></div>
                <div class="col-2">
                    <input type="text" class="form-control form-control-sm" placeholder="Search..">
                </div>
            </div>
        </form>

    </header>

    <div class="main-section">
        <div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
            <div class="list-group border-0 card text-center text-md-left">
                <a href="#" class="list-group-item d-inline-block collapsed " data-parent="#sidebar"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline ">Home</span> </a>
                
                <a href="#visuals" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="d-none d-md-inline">Visuals</span></a>
                
                <a href="#stats" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Stats </span></a>
                
                <a href="#organize" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i> <span class="d-none d-md-inline">Organize</span></a>
            </div>
        </div>
    </div>

    <main class="col-md-9 float-left col px-5 pl-md-5 pt-2 main">
        <a href="#" data-target="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-2x py-2 p-1"></i></a>

        <div class="row">

            <div class="col-lg-3">
                <a  data-toggle="modal" data-target="#uploadModal">
                <img src="/images/add sign2-09.svg" class="img-thumbnail add-btn" />
                </a>
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes-05.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes-06.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes-07.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes-07.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes2-06.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes2-05.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes2-07.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes2-04.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes3-07.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes3-06.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes3-05.svg" class="img-thumbnail" />
            </div>

            <div class="col-lg-3">
                <img src="/images/clothes3-04.svg" class="img-thumbnail" />
            </div>


            <!-- Modal -->
            <div id="uploadModal" class="modal fade bd-example-modal-lg" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add New</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <!-- Form -->
                                        <img src="/images/placeholder.png" width=300%>
                                        <form method='post' action='' enctype="multipart/form-data">
                                            <div class="file-loading">
                                                <input id="input-ficons-4" name="input-ficons-4[]" multiple type="file">
                                            </div>
                                    </div>
                                            <!-- Preview-->
                                    <div class="col">
                                        <form>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput1">Category</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput1">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput2">Label</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput2">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput3">Colour</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput3">
                                            </div>
                                            <div class="form-group">
                                                <label for="formGroupExampleInput4">Price</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput4">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="save" onclick="save()" class="btn save-details" type="button" name="save-details" data-dismiss="modal">Save</button>
                        </div>
                    </div>

                </div>
            </div>

            <script>
                $("#input-ficons-4").fileinput({
                    uploadUrl: "/file-upload-batch/2",
                    previewFileIcon: '<i class="fa fa-file"></i>',
                    allowedPreviewTypes: null, // disable preview of standard types
                    allowedPreviewMimeTypes: ['image/jpeg', 'text/javascript'], // allow content to be shown only for certain mime types 
                    previewFileIconSettings: {
                        'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                        'xls': '<i class="fa fa-file-excel-o text-success"></i>',
                        'xlsx': '<i class="fa fa-file-excel-o text-success"></i>',
                        'pptx': '<i class="fa fa-file-powerpoint-o text-danger"></i>',
                        'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>',
                        'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    }
                });
            </script>

            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
