body {
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
    padding: 0;
}

#logo {
    color: white;
    transition: all 0.2s;
}

#logo:hover,
#logo:active{
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.05);
    
}

.container-fluid {
    background-color: #333;
}

.header {
    padding-top: 2%;
    padding-bottom: 2%;
}

#top-nav,
#logo
{
    padding-left: 7%;
}

main {
    background: #fff;
    margin-left: 18%;
    padding-left: 20%;
    box-shadow: -8px 0 6px -6px rgba(0, 0, 0, 0.16);
}

.add-btn {
    transition: all 0.2s, border 0.2s, color 0.2s;
}

.add-btn:hover,
.add-btn:active {
    transform: scale(1.03);
    background-color: aliceblue;
    cursor: pointer;
}

.img-thumbnail {
    border-radius: 20px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    transition: all 0.2s, border 0.2s, color 0.2s;
}

.img-thumbnail:hover,
.img-thumbnail:active{
    transform: scale(1.03);
    opacity: .5;
    cursor: pointer;
}

#sidebar {
    overflow: hidden;
    z-index: 1;
    height: 100%;
    position: fixed;
    z-index: 3;
    width: 15%;
    background-color:  #fff;
}

#sidebar .list-group {
    min-width: 400px;
    top: 20%;
    background-color: #fff;
    min-height: 100vh;
    padding-left: 10%;
}

#sidebar i {
    margin-right: 6px;

}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #fff;
    color: #454545;
    border-left: 0;
    border-right: 0;
    border-color: #fff;
    white-space: nowrap;
    transition: all 0.2s
}

#sidebar .list-group-item:hover,
#sidebar .list-group-item:active{
    background-color: #e0e0e0;
}

#sidebar .list-group-item:last-child{
    position:fixed;
    bottom: 2%;
    padding-left: 0;
    margin-left: 0;
}


.form-control, .form-control-sm, option {
    background-color: #333 !important;
    border-color: white !important;
    color: white !important;
}

