body {
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
    /* background: black; */
    padding: 0;
}

#logo {
    color: white;
}

.container-fluid {
    background-color: black;
}

.header {
    padding-top: 2%;
    padding-bottom: 2%;
}

#top-nav,
#logo
{
    padding-left: 7%;
}

main {
    background: #fff;
    margin-left: 18%;
    padding-left: 20%;
    box-shadow: -8px 0 6px -6px rgba(0, 0, 0, 0.16);
}

.img-thumbnail {
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 30px;
}

#sidebar {
    overflow: hidden;
    z-index: 1;
    height: 100%;
    position: fixed;
    z-index: 3;
    width: 15%;
    background-color:  #fff;
}

#sidebar .list-group {
    min-width: 400px;
    top: 20%;
    background-color: #fff;
    min-height: 100vh;
    padding-left: 10%;
}

#sidebar i {
    margin-right: 6px;

}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #ff;
    color: #454545;
    border-left: 0;
    border-right: 0;
    border-color: #fff;
    white-space: nowrap;
}

/* highlight active menu */

#sidebar .list-group-item:not(.collapsed) {
    background-color: #222;
}

/* closed state */

#sidebar .list-group .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* open state */

#sidebar .list-group .list-group-item[aria-expanded="true"] {
    background-color: #222;
}

#sidebar .list-group .list-group-item[aria-expanded="true"]::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 5px;
}

/* level 1*/

#sidebar .list-group .collapse .list-group-item,
#sidebar .list-group .collapsing .list-group-item {
    padding-left: 20px;
}

/* level 2*/

#sidebar .list-group .collapse > .collapse .list-group-item,
#sidebar .list-group .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/

#sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

.collapse.show {
    visibility: visible;
}

.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.form-control, .form-control-sm, option {
    background-color: #333;
    border-color: white;
    color: white;
}

