* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #585858;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 240%;
    padding: 20px 40px;
}
